<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <!-- <class name="com.test.stanford.my_test.LandingPagesTest"/> -->
       <class name="com.test.stanford.my_test.LandingPagesTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
